@import "src/assets/styles/adaptive";

.menu {
  position: absolute;
  top: 0;
  padding: 40px 0;
  @apply bg-gray-800;
  z-index: 999999;
  width: 35vw;
  height: 100vh;
  transition: 0.8s;
  transform: translateX(-100vw);
  @include _480 {
    width: 60vw;
  }
}

.search {
  width: 90%;

}

.active {
  transform: translateX(0);
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: 0.8s;
}