@import "src/assets/styles/adaptive";
.navigation {
	@apply py-layout;
    margin-top:-30px;
	@include _1440{
		margin-top:-20px;
	}

	@include _900{
		display: none;
	}
}
.container{
	@include _1250{
		margin-left:0;
	}
}
.logo{
	width:250px;
	@include _1440{
		width: 200px;
	}
	@include _1024{
		width:180px;
	}
	@include _900{
		width:300px;
	}
	@include _480{
		width: 230px;
	}
	@include _360{
		width:180px;
	}
}